html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, a, p, ol, table, td, tr, th, section, article, span {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

  
body {
    font-family: 'SFProDisplay-Regular', sans-serif;
    color: #000000;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* сюда писать общие стили типа, у нас есть 3 блока с одинаковыми настройками
шрифта. даем им один класс и пишем его сюда */