@media screen and (max-width: 659px) {
  .tracker__list-add-item input {
    margin: 0 0 20px 0;
    width: 100%;
  }
}
@media screen and (max-width: 484px) {
  .tracker__btn-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .btn {
    width: 66%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 360px) {
  .btn {
    width: 100%;
  }
}
