html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, a, p, ol, table, td, tr, th, section, article, span {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}


body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1d1c1c;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
